.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .row1 {
    margin-top: 50px !important;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .head1 {
    color: #313357;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .dpdown {
    min-width: 485px;
    min-height: 37px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px !important;
    background-color: white;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 4px;
    color: rgb(122, 120, 120);
  }
  
  .subBtn {
    max-width: 500px;
    background-color: #055608 !important;
  }
  
  .rsltTxt {
    font-size: 25px;
    color: #282c34;
  }