.uprofileT1 {
    margin-top: 50px !important;
    color: #313357;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.uprofileTbl1 {
    margin-bottom: 50px;
}

.allImgStyle {
    max-width: 300px;
}

.profBtn {
    background-color: #055608 !important;
}

.profBtnL {
    background-color: #055608 !important;
    box-shadow: none !important;
    margin-right: 10px;
}

.profAllergyBtns {
    float: right;
}

.profBtn1 {
    float: right;
    background-color: #055608 !important;
}

.profBtn2 {
    background-color: #055608 !important;
}

.uprofileR4 {
    margin-top: 50px !important;
    margin-bottom: 100px;
}
