.navbarCol {
    background-color: #313357;
}

.navTextCol {
    color: white !important;
    margin-right: 25px !important;
}

.logoImg {
    max-width: 170px;
    margin-right: 50px !important;
}

.navItem {
    float: right !important;
}