@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.footerAlign {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerStyles {
    background-color: #313357;
    color: white;
    text-align: justify;
}

.footerCol1 {
    padding-right: 100px !important;
}

.copyBar {
    background-color: #1a1b3b;
}

.logoText {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.footerIcons {
    margin-top: 25px !important;
    max-width: 50px !important;
    font-size: 30px;
}

